    /*Attributes for body*/
    body {
        height:100%;
        width:1000px;
        background-color: black;
        margin:auto;
    }

    /*Colors for h1*/
    h1 {
        color: #ffffff;
    }
    /*Attributes for h1*/
    h1 {
        font-size: 10px;
        font-weight: bold;
        font-family: "Georgia", Georgia, serif;
    }
    /*Attributes for p*/
    p {
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        font-family: "Georgia", Georgia, serif;
    }
    /*Colors for p*/
    p{
        color: #ffffff;
    }

    iframe{
        overflow-y: hidden;
        overflow-x: hidden;
    }

    section{
        height:100%;
        width:100%;
    }

    button{
        display: inline-block;
    }

    .block{
        height:220px;
        width:450px;
        margin:auto;
        display:inline-block;
    }


    /*Attributes for #grafana-button*/
    #grafana-button {
        text-align: center;
        vertical-align: middle;
        width: 50%;
        height: 20%;
        margin: auto;
        cursor: pointer;
        display: block;
    }
    /*Colors for #grafana-button, .nav-button, #editHigh, #editLow*/
    button, #grafana-button,.nav-button,#updateHigh,#updateLow,#displayOn,#displayOff,#serviceOff,#serviceOn,#currentC, #currentF {
        background-color: #008080;
        color: #ffffff;
    }
    /*Attributes for .nav-button*/
    .nav-button {
        transform: translateY(4px)
    }
    /*Attributes for .Display, .startService*/
    .Display,.startService {
        display: block;
        margin-right: 10px;
        box-sizing: border-box;
    }
    /*attributes for selectors*/
    #displayControls,#checkService,#contact-modal-carrier,#highTemp,#lowTemp,#contact-modal-phone,#displayOn,#displayOff,#serviceOff,#serviceOn{
        font-size: 15px;
    }


    .grafanaContainer{
        width:400px;
        height:300px;
        resize:both;
        overflow:hidden;
        background-color:#ffff99;
        padding:5px;
        margin: auto;
    }

    .grafanaGraphs{
        width:100%;
        height:100%;
        position:relative;
    }

    .togglePanel{
        height:200px;
        width:450px;
        position:relative;
        z-index:-1;

    }

    .overlayToggle{
        display:inline-block;
        height:200px;
        width:450px;
        position: absolute;
        z-index:1;
        background-color: transparent;
    }



    .gpanel{
        display: inline-flex;
        height:200px;
        width:450px;
        position:relative;

    }

    .twocolumns{
        height:100%;
        width:100%;
        margin:auto;
    }

    #probePanel{
        width:100%;
        margin:auto;
    }

    #lowTemp,#updateLow,#highTemp,#updateHigh{
        z-index:10;
    }

    #preference{
        height: 100%;
        width: 100%;
        padding: 20%;
    }

    .triple{
        height:200px;
        width: 300px;
        margin: auto;
    }