@media only screen and (min-width:2000px){
    /* for sumo sized (mac) screens */
    h1{
        font-size: 35px;
    }
    p,#displayControls,#checkService,#contact-modal-carrier,#highText,#lowText,#contact-modal-phone{
        font-size:25px;
    }
    #thresholdTitle{
        font-size:30px;
    }
}
@media only screen and (min-width:300px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    h1{
        font-size: 20px;
    }
    p,#displayControls,#checkService,#contact-modal-carrier,#highText,#lowText,#contact-modal-phone{
        font-size:15px;
    }
    #thresholdTitle{
        font-size:20px;
    }
}
@media only screen and (min-width:768px){
    /* default iPad screens */
    h1{
        font-size: 30px;
    }
    p,#displayControls,#checkService,#contact-modal-carrier,#highText,#lowText,#contact-modal-phone{
        font-size:20px;
    }
    #thresholdTitle{
        font-size:25px;
    }
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 400px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 400px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}
